---
- name: INSTALL | Syncthing
  tags:
    - install
  block:
    - name: INSTALL | Install syncthing apt repository
      become: True
      ansible.builtin.deb822_repository:
        name: syncthing
        types: deb
        uris: https://apt.syncthing.net
        suites: syncthing
        components:
          - "{{ syncthing_apt_candidate }}"
        signed_by: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x37C84554E7E0A261E4F76E1ED26E6ED000654A3E
        architectures:
          - "{{ 'amd64' if ansible_architecture == 'x86_64' else null }}"
      when: ansible_facts['distribution'] == "Ubuntu"
      register: keychain

    - name: INSTALL | Install syncthing from package repository
      become: true
      ansible.builtin.apt:
        name: syncthing
        state: present
        update_cache: "{{ true if keychain.changed else false }}"

    - name: INSTALL | Ensure syncthing is enabled on login
      ansible.builtin.systemd:
        daemon_reload: True
        name: syncthing
        scope: user
        state: started
        enabled: True
  
- name: CONFIGURE | Syncthing
  tags:
    - configure
  block:
    - name: CONFIGURE | Ensure default folder is removed from syncthing
      notify: Restart Syncthing service for the user
      register: default_folder
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/folder[@id='default']
        state: absent
    
    - name: CONFIGURE | Delete default folder from system
      notify: Restart Syncthing service for the user
      when: default_folder.changed
      ansible.builtin.file:
        path: "{{ ansible_user_dir }}/Sync"
        state: absent

    - name: CONFIGURE | Ensure set devices are present
      notify: Restart Syncthing service for the user
      with_items: "{{ devices }}"
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: "/configuration/device[@id='{{ item }}']"
      when: devices is defined
    
    - name: CONFIGURE | Prevent Syncthing starting the browser on login
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/options/startBrowser
        value: 'false'
      notify: Restart Syncthing service for the user
    
    - name: CONFIGURE | Change minimum free disk space to set amount
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/options/minHomeDiskFree
        value: "{{ minimum_free_disk_percentage }}"
      notify: Restart Syncthing service for the user
    
    - name: CONFIGURE | Change GUI to use dark theme
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/gui/theme
        value: 'default'
      notify: Restart Syncthing service for the user
    
        #- name: CONFIGURE | Change GUI to use HTTPS
        #  community.general.xml:
        #    path: "{{ syncthing_config_dir }}/config.xml"
        #    xpath: /configuration/gui
        #    attribute: tls
        #    value: 'true'
        #  notify: Restart Syncthing service for the user
    
    - name: CONFIGURE | Mark anynoumous usage reporting message as seen
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/options/urSeen
        value: '3'
      notify: Restart Syncthing service for the user
    
    - name: CONFIGURE | Decline anonymous usage reporting
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/options/urAccepted
        value: '-1'
      notify: Restart Syncthing service for the user
    
    - name: CONFIGURE | Setup default simple versioning
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/defaults/folder/versioning
        attribute: 'type'
        value: 'simple'
      notify: Restart Syncthing service for the user
    
    - name: CONFIGURE | Set default simple versioning parameters
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/defaults/folder/versioning
        set_children:
          - param:
              key: 'cleanoutDays'
              val: '0'
          - param:
              key: 'keep'
              val: '5'
          - cleanupIntervalS: '3600'
          - fsPath
          - fsType: 'basic'
      notify: Restart Syncthing service for the user
    
    - name: CONFIGURE | Set default minimum free disk space to set amount
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: /configuration/defaults/folder/minDiskFree
        value: "{{ minimum_free_disk_percentage }}"
      notify: Restart Syncthing service for the user

    - name: CONFIGURE | Ensure KeepassXC folder is present
      with_dict: "{{ keepassxc }}"
      when: keepassxc is defined
      community.general.xml:
        path: "{{ syncthing_config_dir }}/config.xml"
        xpath: "/configuration/folder[@id='{{ keepassxc.id }}']"
        attribute: "{{ item.key }}"
        value: "{{ item.value }}"
